body{
    font-family:Arial, Helvetica, sans-serif ;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
 .box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin:2%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.185);
    padding: 5%;
    width: 27%;
    color: black;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    
 }
 fieldset{
    border: 3px solid rgb(0, 128, 255);
    border-radius: 5%;
    padding: 2%;
 }
legend{
    border: 1px solid dodgerblue;
    padding: 5%;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 6%;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    
 }

 .inputBox{
position: relative;
 }

 .carousel-inner{

 }
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid black ;
    outline: none;
    color: black;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;
 }
 .label_input{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5px;
    
 }
  .inputUser:focus ~ .label_input, .inputUser:valid ~ .label_input{
top: -20px;
font-size: 12px;
color: dodgerblue;
  }

  #data_nacimento{
border: none;
padding: 8px;
border-radius: 10px;
outline: none;
font-size: 15px;
}

#submit{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    width: 100%;
    border: none;
    padding: 15px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.9s;
    
}
#submit:hover{
    
    background-color: rgba(0, 0, 0, 10);
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
